body {
    background-image: radial-gradient(circle, 
    #8333a0, #8522c2, #7623cb, #6226d5, #442adf);
}
h1 {
    color: black;
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: yellowgreen;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h4 {
    text-align: center;
}
<<<<<<< HEAD
div {
    color: blanchedalmond;
=======
p {
    color: yellowgreen;
>>>>>>> cdb7b3cc4fb3bcf7b5d17594515d9a20c665b079
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    
}
<<<<<<< HEAD
.text-block1 {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    width: 650px;
    margin: 0 auto;
}
.text-block1::first-letter {
    font-size: 40px;
}
.text-block2 {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    width: 650px;
    margin: 0 auto;
}
.text-block2::first-letter {
    font-size: 40px;
=======
p::first-letter {
    font-size: 30px
    
>>>>>>> cdb7b3cc4fb3bcf7b5d17594515d9a20c665b079
}
